In [ ]:
import pandas as pd # importing pandas package for analysis

In [2]:
df = pd.read_json (r'C:\Users\alaga\Desktop\Fetch_Rewards\users.json', lines=True)
print (df.columns) # reading the json data into a dataframe and checking the column names

Index(['_id', 'active', 'createdDate', 'lastLogin', 'role', 'signUpSource',
       'state'],
      dtype='object')

In [3]:
df.describe() # Statistical analysis for each column

,_id,active,createdDate,lastLogin,role,signUpSource,state
count,495,495,495,433,495,447,439
unique,212,2,212,172,2,2,8
top,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614379156799},consumer,Email,WI
freq,20,494,20,20,413,443,396

In [8]:
# checking the data types of each column and comparing it with actual value it is holding

print(df['_id'][0])
print(type(df['_id'][0]))

print(df['active'][0])
print(type(df['active'][0]))

print(df['createdDate'][0])
print(type(df['createdDate'][0]))

print(df['lastLogin'][0])
print(type(df['lastLogin'][0]))

print(df['role'][0])
print(type(df['role'][0]))

print(df['signUpSource'][0])
print(type(df['signUpSource'][0]))

print(df['state'][0])
print(type(df['state'][0]))

{'$oid': '5ff1e194b6a9d73a3a9f1052'}
<class 'dict'>
True
<class 'numpy.bool_'>
{'$date': 1609687444800}
<class 'dict'>
{'$date': 1609687537858}
<class 'dict'>
consumer
<class 'str'>
Email
<class 'str'>
WI
<class 'str'>

In [9]:
'''
1. Certain columns are existing as dictionaries instead of just values. So we have to convert them into corresponding values.

2. Date columns are in integer format rather than datetime format. So datatype conversions are required.

'''

'\n1. Certain columns are existing as dictionaries instead of just values. So we have to convert them into corresponding values.\n\n2. Date columns are in integer format rather than datetime format. So datatype conversions are required.\n\n'

In [15]:
import datetime
time = df['createdDate'][0]['$date']

# Converting one of the date value
dt = datetime.datetime.fromtimestamp(time/1000)
print(dt)
print(type(dt))

2021-01-03 08:24:04.800000
<class 'datetime.datetime'>

In [16]:
ID, CD = [], []
for index, row in df.iterrows():
    ID.append(row['_id']['$oid'])
    CD.append(row['createdDate']['$date'])

In [18]:
# Checking for duplicates in id and created date
temp = pd.DataFrame(data=zip(ID, CD),columns=['ID','Created_Date'])
temp.groupby(['ID','Created_Date']).size().reset_index().rename(columns={0:'count'})

                           ID   Created_Date  count
0    54943462e4b07e684157a532  1418998882381     20
1    55308179e4b0eabd8f99caa2  1429242233186      1
2    5964eb07e4b03efd0c0f267b  1499785991771      1
3    59c124bae4b0299e55b0f330  1505830074302     18
4    5a43c08fe4b014fd6b6a0612  1514389647059      8
5    5e27526d0bdb6a138c32b556  1579635309795      1
6    5f2068904928021530f8fc34  1595959440905      1
7    5fa32b4d898c7a11a6bcebce  1604528973309      1
8    5fa41775898c7a11a6bcef3e  1604589429396     18
9    5fb0a078be5fc9775c1f3945  1605410936818      2
10   5fbc35711d967d1222cbfefc  1606169969509      3
11   5fc961c3b8cfca11a077dd33  1607033283936     20
12   5ff1e194b6a9d73a3a9f1052  1609687444800     11
13   5ff1e1b4cfcf6c399c274a54  1609687476410      1
14   5ff1e1b7cfcf6c399c274a5a  1609687479626      1
15   5ff1e1e4cfcf6c399c274ac3  1609687524656      1
16   5ff1e1e8cfcf6c399c274ad9  1609687528354      1
17   5ff1e1eacfcf6c399c274ae6  1609687530554      4
18   5ff1e1f1cfcf6c399c274b0b  1609687537564      1
19   5ff36a3862fde912123a4460  1609787960352      5
20   5ff36be7135e7011bcb856d3  1609788391239      3
21   5ff36c8862fde912123a538a  1609788552943      1
22   5ff36c8e135e7011bcb85da4  1609788558994      1
23   5ff36d0362fde912123a5535  1609788675973      3
24   5ff36d83135e7011bcb864d6  1609788803244      1
25   5ff370c562fde912123a5e0e  1609789637776      5
26   5ff3711e62fde912123a620e  1609789726807      1
27   5ff47392c3d63511e2a47881  1609855890233      5
28   5ff473e7c1e2d0121a9b2697  1609855975669      1
29   5ff4ce33c3d63511e2a484b6  1609879091229      7
..                        ...            ...    ...
182  60182d6dc8b50e11d84547b2  1612197229873      1
183  60182f4ac8b50e11d8454946  1612197706573      1
184  60183090c8b50e11d84549c0  1612198032843      2
185  60183c579a1b091205b61a5f  1612201047795      1
186  60183e6c9a1b091205b61b49  1612201580468      1
187  60186237c8b50e11d8454d5f  1612210743551      5
188  601890a99a1b091205b61ced  1612222633079      1
189  60189c74c8b50e11d8454eff  1612225652642      7
190  60189c859a1b091205b61de1  1612225669145      1
191  60189c88c8b50e11d8454f2f  1612225672817      1
192  60189c94c8b50e11d8454f6b  1612225684020      4
193  601ac195af4b1a1205f7560f  1612366229397      1
194  601ac1da591789121574dc07  1612366298705      1
195  601c2c05969c0b11f7d0b097  1612459013700      2
196  601c2c6a29c30a1227ad93bd  1612459114447      1
197  601c6887969c0b11f7d0c81f  1612474503045      1
198  601c68d229c30a1227ada484  1612474578530      1
199  602176a3b57b8a12187fe717  1612805795109      1
200  602176c9b57b8a12187fe77e  1612805833950      1
201  60217fa799409b11fcf899fe  1612808103714      1
202  6022998599409b11fcf89c53  1612880261257      1
203  60229990b57b8a12187fe9e0  1612880272581      2
204  6024399defa60112282c0ac9  1612986781857      1
205  6025388fb54593795bf69234  1613052047269      1
206  602538adb54593795bf692ac  1613052077332      1
207  60255883efa60114d20e5d4e  1613060227502      1
208  602558adb5459313e1e9b7ce  1613060269831      1
209  602558b1efa60114d20e5dc7  1613060273738      1
210  60268c69efa6011bb151075f  1613139049408      1
211  60268c7aefa6011bb1510786  1613139066240      1

[212 rows x 3 columns]

In [11]:
print(df.isnull().sum()) # Checking for null values in each column

_id              0
active           0
createdDate      0
lastLogin       62
role             0
signUpSource    48
state           56
dtype: int64